.image-cap-style{
    text-align: center;

    font-weight: 900;
    font-size: 60px;
    font-style: italic;
}
.image-cap-style-text{
font-weight: 900;
font-style: italic;
font-family: cursive;


}

.manage-card-size img{
height: 450px;
}