.services{
    background-image: url("https://html.geekcodelab.com/holiday-planners/assets/images/wave-design.jpg");

}
.services-text{

    color: #212121;
    font-size: 32px;
    font-weight: bolder;
    font-family: cursive;
}